@model Vismy.WEB.Models.UserPreviewsVM
@{
    ViewData["Title"] = "Users";
    var hasPreviousPage = Model.PageViewModel.HasPreviousPage ? "" : "disabled";
    var hasNextPage = Model.PageViewModel.HasNextPage ? "" : "disabled";
}

<h2>Users</h2>


<form asp-action="UserPreviews" method="get">
    <div class="form-actions">
        <p>
            Find: <input type="text" name="filter" value="@ViewData["Filter"]"/>
            <input type="submit" value="Search" class="btn"/>
            <a asp-action="UserPreviews">Back to full list</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Nickname</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model.Users)
        {
            <tr>
                <td>@u.Nickname</td>
                <td>@u.Name</td>
                <td>@u.Surname</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="UserPreviews" 
   asp-route-filter="@ViewData["Filter"]" 
   asp-route-pageNum="@(Model.PageViewModel.PageNumber - 1)"
   class="btn btn-outline-dark @hasPreviousPage">Previous</a>

<a asp-action="UserPreviews" 
   asp-route-filter="@ViewData["Filter"]" 
   asp-route-pageNum="@(Model.PageViewModel.PageNumber + 1)"
   class="btn btn-outline-dark @hasNextPage">Next</a>